@{
    ViewBag.Title = "Home Page";


    
}
<h3 style="text-align:center;" >Welcome</h3>
   
<img src="~/pictures/images (3).jpg" />
<img src="~/pictures/images (5).png" />
<img src="~/pictures/download (1).jpg" />
<img src="~/pictures/images (2).jpg" />
<p>
    ASP.NET SignalR is a library for ASP.NET developers to add real-time web functionality to their applications. Real-time web functionality is the ability to have server-side code push content to the connected clients as it happens, in real-time.[1]

    SignalR takes advantage of several transports, automatically selecting the best available transport given the client's and server's best available transport. SignalR takes advantage of WebSocket, an HTML5 API that enables bi-directional communication between the browser and server. SignalR will use WebSockets under the covers when it's available, and gracefully fall back to other techniques and technologies when it isn't, while the application code remains the same.[2][3]

    SignalR also provides a simple, high-level API for doing server-to-client RPC (call JavaScript functions in a client's browser from server-side .NET code) in an ASP.NET application, as well as adding useful hooks for connection management, such as connect/disconnect events, grouping connections, authorization.
</p>

